AUTH_SECRET=generate-a-long-random-secret
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GRAPHQL_URL=https://test-api.myperfectfit.co.in:6699/graphql
GRAPHQL_URL=https://test-api.myperfectfit.co.in:6699/graphql
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CRON_SECRET=generate-a-cron-secret
